<style type="text/css">
	.blogback li {
    	border-bottom: 1px dashed #216896;
    	padding: 0px;
	}
	.carousel{
	 	border:2px solid #bababa;
	 }
</style>
<div class="container paddingzero blogback">
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header">Brands</h1>
		</div>
	</div>

	<div class="row">
		<!-- Product category and brands -->
		<div class="col-md-6">Welkom op de Brands pagina van TIME OUT</div>

		<!-- Random Products -->
		<div class="col-md-6">
			<div id="brand-carousel" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#brand-carousel" data-slide-to="{{$index}}" data-ng-if= "$index == 0" class="active" data-ng-repeat="(ind,val) in brandList"></li>
					<li data-target="#brand-carousel" data-slide-to="{{$index}}" data-ng-if= "$index != 0"  data-ng-repeat="(ind,val) in brandList"></li>
				</ol>
			
				<div class="carousel-inner" role="listbox">
					<div class="item active" data-ng-if="$index == 0" data-ng-repeat="(ind,val) in brandList">
						<img data-ng-src="{{shop_brand_image_location}}{{ind}}.png" alt="{{val}}" class="img img-responsive center-block">
						<div class="carousel-caption">{{val}}</div>
					</div>
					
					<div class="item"  data-ng-if="$index != 0" data-ng-repeat="(ind,val) in brandList">
						<img src="{{shop_brand_image_location}}{{ind}}.png" alt="{{val}}" class="img img-responsive center-block" >
						<div class="carousel-caption"><strong>{{val}}</strong></div>
					</div>
					
				</div>
			</div>

		</div>
	</div>

	<div class="row">
		<ul>
		   <li data-ng-repeat="(ind,val) in brandList">
		   		<a data-ng-href="/#/shop/brand_view/{{ind}}">{{val}}</a>
		   </li>
		</ul>
	</div>
</div>