<div class="container paddingzero blogback cart-container">
	<h1 class="page-heading">My Cart</h1>
	<div class="row">
		<div class="col-md-12 checkout-message">
		
		</div>
	</div>
			
	<div class="row">
		<div class="col-md-12">
				<div class="text-center" data-ng-if="shop_loading == true">
					<img  data-ng-src ="images/ajax-loader.gif">
				</div>
				<div class="cart-table">
					<div class="table-responsive">
						<table class="table table-info">
							<thead>
								<tr>
									<th>No</th>
									<th>Image</th>
									<th>Product</th>
									<th>Attributes</th>
									<th>Unit Price</th>
									<th>Quantity</th>
									<th>Total</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="products in PorductsInCart "> 
									<td>{{$index+1}}</td>
									<td><img data-ng-src="{{products.cartThumbImage}}" class="img img-responsive cart-thumb-image"></td>
									<td>{{products.product_title}}</td>
									<td> 
										<ul data-ng-if="products.attributes != null" class="buy-attribute-list">
											<li data-ng-repeat="(name,value) in products.attributes">{{name}} : {{value}}</li>
										</ul>
									</td>
									<td>{{products.unitPrice}} EUR</td>
									<td><input type="number"  min="1" value="{{products.quantity}}" data-cartIndex = "{{$index}}" data-unitPrice = "{{products.cost/products.quantity}}" onchange="updatePrice(this)"></td>
									<td>{{products.cost}} EUR</td>
							       	<td>
							       		<span class="btn btn-danger" data-ng-click="removeFromCart({{$index}})" >Delete</span>
							       	</td>
								</tr>
								<tr>
									<td colspan="6" class="text-right" >
										<strong>Total</strong>
									</td>
									<td >
										<i class="total_cost">{{totalCost}}</i> EUR
									</td> 
									<td></td>
									
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			
		</div>
	</div>
	
	<div class="cart-btn-group">
			<a href="/#/shop" class='btn btn-info'>Continue Shopping </a>
			<a href="/#/shop/proceed" class='btn btn-success'>Proceed </a>
			<!-- <button class='btn btn-success' data-ng-click="orderNow()">Order Now</button> -->
	</div>
	
</div>

<style>
	.buy-attribute-list li{
		list-style-type: none;
		border: none;
		padding: 0px;
	}
	
	.cart-thumb-image{
		margin-top :0px !important;
		width : 60px;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
		vertical-align:middle;}
		
</style>