<div class="container paddingzero">
	<div class="category-container">
		<h1 class="page-heading">Deals</h1>
		<div class="row">
			<!-- Product category and brands -->
			

			<!-- Random Products -->
			<div class="col-md-12">
				<div class="row">
					<div class="text-center" data-ng-if="shop_loading == true">
						<img data-ng-src="images/ajax-loader.gif">
					</div>
					
					<div class="col-md-3 col-sm-6 col-xs-12" data-ng-repeat="product in shop_product_list">
						<div class="product-box">
							<div class="discount-offer">
                        		<p data-ng-if="product.Product.options.discount[0].type == 'fixed'"><strong> € {{product.Product.options.discount[1].amount}} </strong> OFF</p>
                        		<p data-ng-if="product.Product.options.discount[0].type == 'percentage'"><strong> {{product.Product.options.discount[1].amount}} % </strong> OFF</p>
                        	</div>
                        	
							<div class="product-img">
								<a data-ng-href="/#/shop/product/details/{{product.Product.id}}" data-ng-repeat="p_image in product.ProductImage" data-ng-if="$index == 0">
									<img data-ng-src="{{shop_image_location}}{{p_image.id}}.{{p_image.extension}}" alt="{{product.Product.title}}" />
								</a>
							</div>
							
							<div class="product-content">
								<h1>
									<a data-ng-href="/#/shop/product/details/{{product.Product.id}}">{{product.Product.title}}</a>
								</h1>
								<p data-ng-bind-html="shortDescription(product.Product.description,50)"></p>
								<p class="product-price">
									<a data-ng-href="/#/shop/product/details/{{product.Product.id}}">€ {{product.Product.price}}</a>
								</p>
							</div>
							<div class="action">
								<ul class="list-inline text-center">
									<li><a class="prdct-details" data-ng-href="/#/shop/product/details/{{product.Product.id}}">DETAILS</a></li>
									<li><a class="prdct-wishlist" href="#">WISHLIST</a></li>
									<li><a class="prdct-share" href="#">SHARE</a></li>
								</ul>
							</div>
						</div>
					</div>
					
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<ul class="pagination">
							<li data-ng-repeat="(ind,page) in pagination">
								<span data-ng-click="loadPage({{ind}},$event)">{{ind}}</span>
							</li>
							
						 </ul>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>



				