<div class="container paddingzero blogback">
	<h1 class="page-heading">Proceed</h1>
	<div class="row">
    <div class="checkout-info">
		<div class="col-md-4 col-sm-3 col-xs-12">
				<div class="shipping-info">
                	<h3 class="payment-heading">Personal Details</h3>
				<!--<address>
					<strong>{{user_details.first_name}} {{user_details.last_name}}</strong><br>
					E-mail : <a href="mailto:{{log_details.Client.username}}">{{log_details.Client.username}}</a><br>
					<strong>Phone : {{user_details.cell}}</strong>
				</address>-->
                <p><strong>Name : </strong>abdullah zubayer</p>
                <p><strong>Email : </strong><a href="#">zubayer@w3-app.com</a></p>
                <p><strong>Phone : </strong>01731921635</p>
                
                </div>

        </div>

		
		<div class="col-md-4 col-sm-3 col-xs-12">
				<h3 class="payment-heading">Billing details</h3>
				<!--<address>
				  <strong>{{user_details.address_line_1}}</strong><br>
				  {{user_details.address_line_2}}<br>
				  Zip : {{user_details.zip}}
				</address>-->
                <form role="form"><br />
  <div class="form-group">
    <label for="address">Address line 1</label>
    <input type="text" class="form-control" >
  </div>
  <div class="form-group">
    <label for="address">Address line 2</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="zip">Zip</label>
    <input type="text" class="form-control">
  </div>
  
</form>
               
		</div>
        
        <div class="col-md-4 col-sm-3 col-xs-12">
				<h3 class="payment-heading">Shipping details</h3>
				<!--<address>
				  <strong>{{user_details.address_line_1}}</strong><br>
				  {{user_details.address_line_2}}<br>
				  Zip : {{user_details.zip}}
				</address>-->
                <form role="form">
                <div class="checkbox">
    <label>
      <input type="checkbox">  Same as Billing address
    </label>
  </div>
    <div class="form-group">
    <label for="address">Address line 1</label>
    <input type="text" class="form-control" >
  </div>
  <div class="form-group">
    <label for="address">Address line 2</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="address">Zip</label>
    <input type="text" class="form-control">
  </div>
  
</form>
               
		</div>
        </div>
        </div>
        
	<div class="row">	
		<div class="col-md-12 hidden">
				<h3>Shipping details</h3>
				<strong data-ng-click="sameAsBillingAddress()" >Same as Billing address</strong><br>
				<input data-ng-model="address_line_1" class="proceed_input" required palceholder="address line 1"> <br>
				<input data-ng-model="address_line_2" class="proceed_input"  required palceholder="address line 2"><br>
				<input data-ng-model="zip" class="proceed_input"  palceholder="zip" required><br>
		</div>
        </div>
        <div class="row">	
		<div class="col-md-4">
       <div class="payment">
       <h3 class="payment-heading">Select Payment Methods</h3>
       <img class="img-responsive" src="images/payment-method.jpg" />
       <div class="user-review">
       	<h3 class="payment-heading">Notess</h3>
        <textarea class="form-control" cols="3"></textarea>
       </div>

 </div>
        </div>	
        <div class="col-md-8">
        <div class="productSummery">
        <h3 class="payment-heading">Product Summery</h3>
<div class="table-responsive">
	<table class="table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>PME Jeans Commander PTR980-GDI</td>
          <td>99.95 EUR</td>
          <td>1</td>
          <td>99.95 EUR</td>
        </tr>
        <tr>
          <td>PME Jeans Commander PTR980-GDI</td>
          <td>99.95 EUR</td>
          <td>1</td>
          <td>99.95 EUR</td>
        </tr>
        <tr>
          <td>PME Jeans Commander PTR980-GDI</td>
          <td>99.95 EUR</td>
          <td>1</td>
          <td>99.95 EUR</td>
        </tr>
       <tr>
          <td colspan="3"><strong>sub total</strong></td>
          <td colspan="1"><strong>330.95 EUR</strong></td>
        </tr>
      </tbody>
    </table>
</div>
       </div>
        </div>
       </div>
		
		<!-- 
		<div class="col-md-6">
				<h3>Select Payment Methods</h3>
				<ul class="list" >
					<li  data-ng-repeat="(type,name) in payment_methods">
						<input type="radio" class="proceed_input_payment" name="paymentMethod" value="{{type}}"> {{name}}
					</li>
				</ul>
		</div>
		
		-->


	
	<!-- cart details -->
    
    <div>
    
    </div>
	<div class="row hidden">
		<div class="col-md-12">
			<div class="row">
				
				<div class="col-md-12">
					<div>
						<h3>Cart Details</h3>
					</div>
					<div class="table-responsive">
						<table class="table table-info">
							<thead>
								<tr>
									<th>No</th>
									<th>Image</th>
									<th>Product</th>
									<th>Attributes</th>
									<th>Unit Price</th>
									<th>Quantity</th>
									<th>Total</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="products in PorductsInCart ">
									<td>{{$index+1}}</td>
									<td><img data-ng-src="{{products.cartThumbImage}}" class="img img-responsive cart-thumb-image"></td>
									<td>{{products.product_title}}</td>
									<td> 
										<ul data-ng-if="products.attributes != null" class="buy-attribute-list">
											<li data-ng-repeat="(name,value) in products.attributes">{{name}} : {{value}}</li>
										</ul>
									</td>
									<td>{{products.unitPrice}} EUR</td>
									<td>{{products.quantity}}</td>
									<td>{{products.cost}} EUR</td>
							       
								</tr>
								<tr>
									<td colspan="6" class="text-right" >
										<strong>Total</strong>
									</td>
									<td >
										<i class="total_cost">{{totalCost}}</i> EUR
									</td> 
									<td></td>
									
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
    
	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-success confirm pull-right" data-ng-click="confirmNow()"  data-toggle="modal" data-target="#confirmModal">Confirm</button>
			<button class="btn btn-success checkoout pull-right" data-ng-click="orderNow()">Pay Now</button>
		</div>
	</div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-body text-center">
      <h4 class="modal-title">Are you Confirm ?</h4><br />

        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-success">Yes</button>
      </div>
 		
    </div>
  </div>
</div>
<style>
	.buy-attribute-list li{
		list-style-type: none;
		border: none;
		padding: 0px;
	}
	
	.cart-thumb-image{
		margin-top :0px !important;
		width : 100px;
	}
</style>
