<div class="container paddingzero blogback">
	<h1 class="page-heading">Proceed</h1>
	<div class="row">
    <div class="checkout-info">
		<div class="col-md-4 col-sm-3 col-xs-12">
				<div class="shipping-info">
                	<h3 class="payment-heading">Personal Details</h3>
				
                <p><strong>Name : </strong>{{user_details.first_name}} {{user_details.last_name}}</p>
                <p><strong>Email : </strong><a href="mailto:{{log_details.Client.username}}">{{log_details.Client.username}}</a></p>
                <p><strong>Phone : </strong>{{user_details.cell}}</p>
                
                </div>

        </div>

		
		<div class="col-md-4 col-sm-3 col-xs-12">
				<h3 class="payment-heading">Billing details</h3>
				<!--<address>
				  <strong>{{user_details.address_line_1}}</strong><br>
				  {{user_details.address_line_2}}<br>
				  Zip : {{user_details.zip}}
				</address>-->
                <br />
				  <div class="form-group">
				    <label for="address">Address line 1</label>
				    <input type="text" class="form-control" readonly value="{{user_details.address_line_1}}">
				  </div>
				  
				  <div class="form-group">
				    <label for="address">Address line 2</label>
				    <input type="text" class="form-control" readonly value="{{user_details.address_line_2}}">
				  </div>
				  
				 
				  
				  <div class="form-group">
				    <label for="zip">Zip</label>
				    <input type="text" class="form-control" readonly value="{{user_details.zip}}">
				  </div>
				
               
		</div>
        
        <div class="col-md-4 col-sm-3 col-xs-12">
				<h3 class="payment-heading">Shipping details</h3>
				<!--<address>
				  <strong>{{user_details.address_line_1}}</strong><br>
				  {{user_details.address_line_2}}<br>
				  Zip : {{user_details.zip}}
				</address>-->
                <form role="form" id="confirmOrderForm">
					<div class="checkbox">
						<label>
							<input type="checkbox" data-ng-model = "sameAsBilling" data-ng-change="setSameToBilling()">  Same as Billing address
						</label>
					</div>
					
					<div class="form-group">
						<label for="address">Address line 1</label>
						<input type="text" name="shipping_address_1" placeholder="address line 1" data-validate = '[{"not_empty":[{"message":"Please input your address (line 1)."}]}]' class="form-control proceed_input" data-ng-model="address_line_1">
					</div>
					
					<div class="form-group">
						<label for="address">Address line 2</label>
						<input type="text"  name="shipping_address_2" placeholder="address line 2" data-validate = '[{"not_empty":[{"message":"Please input your address (line 2)."}]}]' class="form-control proceed_input" class="form-control proceed_input" data-ng-model="address_line_2">
					</div>
					
					<div class="form-group">
						<label for="address">Country</label>
						<select name="country" data-ng-model="country" data-ng-options="name for country in shippingDetails.country">
							
						</select>
					</div>
					
					<div class="form-group">
						<label for="address">City</label>
						<select name="country" data-ng-model="city"  data-ng-change="onChangeCountry()"></select>
					</div>
				 
					<div class="form-group">
						<label for="address">Zip</label>
						<input name="zip" placeholder="Zip Code" data-validate = '[{"not_empty":[{"message":"Please input your zip code"}]}]' type="text" class="form-control proceed_input" data-ng-model="zip" >
					</div>
			</form>
		</div>
	</div>
</div>


	<div class="row">	
		<!-- Payment methods -->
		<div class="col-md-4">
			<div class="payment">
				<h3 class="payment-heading">Supported Payment Methods</h3>
				<img class="img-responsive" src="images/payment-method.jpg" />
				<div class="user-review">
					<h3 class="payment-heading">Notes</h3>
					<textarea class="form-control" cols="3"></textarea>
				</div>
 			</div>
		</div>	
		
        <div class="col-md-8">
        	<div class="productSummery">
				<h3 class="payment-heading">Product Summery</h3>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Product</th>
								<th>Unit Price</th>
								<th>Quantity</th>
								<th>Sub Total</th>
							</tr>
						</thead>
						
						<tbody>
							<tr data-ng-repeat="products in PorductsInCart ">
								<td>{{products.product_title}}</td>
								<td>{{products.unitPrice}}</td>
								<td>{{products.quantity}}</td>
								<td>{{products.cost}}</td>
							</tr>
						 <tr>
						    <td colspan="3"><strong>Grand Total</strong></td>
						    <td colspan="1"><strong>{{totalCost}} EUR</strong></td>
						  </tr>
						  <tr>
						    <td colspan="3"><strong>Shipping Cost</strong></td>
						    <td colspan="1"><strong>{{shippingCost}}</strong></td>
					    </tr>
						</tbody>
				   </table>
			 </div>
			 
			<div class="col-md-12">
				<button class="btn btn-success confirm pull-right"   data-toggle="modal" data-target="#confirmModal">Confirm</button>
				<button class="btn btn-success checkoout pull-right" data-ng-click="orderNow()">Pay Now</button>
			</div>
		</div>
	</div>
	
	
</div>
		
	<!-- cart details -->
    
    <div>
    
    </div>
	<div class="row hidden">
		<div class="col-md-12">
			<div class="row">
				
				<div class="col-md-12">
					<div>
						<h3>Cart Details</h3>
					</div>
					<div class="table-responsive">
						<table class="table table-info">
							<thead>
								<tr>
									<th>No</th>
									<th>Image</th>
									<th>Product</th>
									<th>Attributes</th>
									<th>Unit Price</th>
									<th>Quantity</th>
									<th>Total</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="products in PorductsInCart ">
									<td>{{$index+1}}</td>
									<td><img data-ng-src="{{products.cartThumbImage}}" class="img img-responsive cart-thumb-image"></td>
									<td>{{products.product_title}}</td>
									<td> 
										<ul data-ng-if="products.attributes != null" class="buy-attribute-list">
											<li data-ng-repeat="(name,value) in products.attributes">{{name}} : {{value}}</li>
										</ul>
									</td>
									<td>{{products.unitPrice}}</td>
									<td>{{products.quantity}}</td>
									<td>{{products.cost}}</td>
							       
								</tr>
								<tr>
									<td colspan="6" class="text-right" >
										<strong>Total</strong>
									</td>
									<td >
										<i class="total_cost">{{totalCost}}</i> EUR
									</td> 
									<td></td>
									
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
    
	
</div>

<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-body text-center">
      <h4 class="modal-title">Are you Confirm ?</h4><br />

        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-success" data-ng-click="confirmNow()">Yes</button>
      </div>
 		
    </div>
  </div>
</div>
<style>
	.buy-attribute-list li{
		list-style-type: none;
		border: none;
		padding: 0px;
	}
	
	.cart-thumb-image{
		margin-top :0px !important;
		width : 100px;
	}
</style>
