<div class="container paddingzero blogback">
	<h1 class="page-heading">Proceed</h1>
	<div class="confirmContainner">
		<div class="confirmTop clearfix">
			<h1 class="x-large">thanks for your order!</h1>
			<p>please print or save this page for records,You will also
				receive a reeipt via email.</p>
		</div>
		<!--confirmTop-->
		<div class="confirmInfo">
			<div class="confirmAddress">
				<h5>
					shipping &amp; <br> billing
				</h5>
			</div>

			<div class="confirmAddress">
				<h6>bill to :</h6>
				<p>
					Lakeshore Hotel Road # 41<br> House # 46, Gulshan 2.<br>
					Dhaka-1212, Bangladesh.<br> Phone: +88 02 9859991, 9841786-92.
					<br>Fax: +88 02 9840534, 9840519
				</p>
			</div>

			<div class="confirmAddress">
				<h6>ship to :</h6>
				<p>
					Lakeshore Hotel Road # 41<br> House # 46, Gulshan 2.<br>
					Dhaka-1212, Bangladesh.<br> Phone: +88 02 9859991, 9841786-92.
					<br>Fax: +88 02 9840534, 9840519
				</p>
			</div>

		</div>
		<!--confirmInfo-->


		<div class="confirmInfo">
			<div class="confirmAddress">
				<h5>
					price &amp; <br> quantity
				</h5>
			</div>

			<div class="confirmAddress">
				<h6>Total price :</h6>
				<p>
					your total price:<strong>$25000.00</strong>
				</p>
			</div>

			<div class="confirmAddress">
				<h6>Quantity :</h6>
				<p>You have purchased 2 package and 20 products.</p>
			</div>

		</div>
		<!--confirmInfo-->

	</div>


</div>
