<style>
	.current_image{
		height:300px;
	}
	.thumb-image{
		height: 45px;
		margin-top:0 !important;
	}
	
</style>




<div class="container paddingzero blogback">

<!-- 
<div class="product-breadcrumb">
    	<ol class="breadcrumb">
		  <li><a href="#">Home</a></li>
		  <li><a href="#">Library</a></li>
		  <li class="active">Data</li>
		</ol>
</div>
 -->	
	<!-- Loading -->
	<div class="row" data-ng-if="shop_product_details_loading == true">
		<div class="col-md-12 text-center">
			<img data-ng-src="images/ajax-loader.gif">
		</div>
	</div>
	
	<div class="row">
		<!-- Product images -->
		<form data-ng-submit ="addToCart($event,$window);">
		<div class="col-md-3">
        <div class="product-details-image">
			<div class="row">
				<div class="col-md-12 text-center">
					<div>
						<img class = "img-responsive center-block current_image relative"  data-ng-repeat="images in shop_product_details[0].ProductImage" data-ng-if="$index == 0" data-ng-src = "{{shop_image_location}}{{images.id}}.{{images.extension}}" />
						<!-- data-ng-mouseout="destroyZoom()" data-ng-mousemove="uyZoom($event)" -->
					</div>
				</div>
			</div>
			 
            <ul class="list-inline text-center">
            	<li data-ng-repeat="images in shop_product_details[0].ProductImage">
                <img class ="img-responsive thumb-image" data-ng-mouseover="updateThumb($event)" data-ng-src = "{{shop_image_location}}{{images.id}}.{{images.extension}}">
        			<input type="hidden" name="cartThumbImage" data-ng-if="$index == 0" value="{{shop_image_location}}{{images.id}}.{{images.extension}}">
                </li>
            </ul>
        	
		</div>
        </div>
		
		<!-- InfoProducts -->
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12" >
					<div class="product-details-top">
						<h2 class="product-title">{{shop_product_details[0].Product.title}}</h2>
						<p class="brand-name">{{shop_product_details[0].Product.product_code}}</p>	

						<input type='hidden' name="product_id" value="{{shop_product_details[0].Product.id}}">
						<input type ="hidden" name="product_title" value="{{shop_product_details[0].Product.title}}">
						
							   <!-- 
								<div class="product-categories">
									<a data-ng-repeat="product_categories in shop_product_details[0].ProductCategory" data-ng-href="/#/shop/category_view/{{product_categories.category_id}}">category </a>
								</div>
								
								-->
								<div class="product-price">
									PRICE : 
									<span class="product-price-holder" data-ng-model="product_price" >{{product_price}}</span> EUR
								 	<input type="hidden" name ="cost" value ="{{product_price}}">
								</div>
                                </div>
								<div class="product-attributes clearfix">
									<!-- product attribute loop -->
									<div data-ng-repeat = "product_attributes in shop_product_details[0].ProductAttribute">
									
										<div data-ng-repeat= "attributes in AllAttributeByType">
											<div class="col-md-6" data-ng-if = "attributes.Attribute.id == product_attributes.attribute_id">
												<label>{{attributes.Attribute.title}}</label>
												<div data-ng-repeat ="att_val  in attributes.AttributeValue">
													
													<div class="attribute-value">
														<div data-ng-repeat= "product_has_attr_value in product_attributes.ProductAttributeValue" data-ng-if="product_has_attr_value.attribute_value_id ==att_val.id">
															<input data-ng-valid required class="attribute-value-for-additional-price" data-ng-click = "updateAditionalPrice('{{att_val.has_price}}')" data-additional-price = "{{product_has_attr_value.price}}" type="radio" name="attribute.{{attributes.Attribute.title}}" value="{{att_val.value}}" > {{att_val.value}}
															<span data-ng-if="att_val.has_price == 'yes'" > + {{product_has_attr_value.price}} USD</span> 
														</div>
													</div>
												</div>
												
											</div>
										</div>
									</div>
								</div>
								
								
								<div class="product-quantity">
									<label>No of Products : </label>
									<input type="number" class="product_quantity" name="quantity" data-ng-model ='quantity' data-ng-change="updateAditionalPrice('yes')"  min="1" required>
								</div>
								<button type="submit" class="btn add-to-cart" value= "ADD TO CART">ADD TO CART</button>
						
					
				</div>
			</div>
			
			
				<div class="description">
					<div class="description-heading">Description</div>
                    <p data-ng-bind-html = "textToSafeHtml(shop_product_details[0].Product.description)" ></p>
				</div>
			
		
		</div>
		</form>
		
		
		<!-- Related Products -->
		<div class="col-md-3">
        <div class="releted-heading">Related Products</div>
        
       
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12" data-ng-repeat="(ind,relPro) in shop_product_details[0].RelatedProduct"> 
				
					<div class="product-box releted-product"  >
						<div class="product-img">
							<a data-ng-href="/#/shop/product/details/{{shop_product_details[0].RelatedProduct[$index].Product.id}}">
								<img data-ng-src="{{shop_image_location}}{{shop_product_details[0].RelatedProduct[$index].ProductImage[0].id}}.{{shop_product_details[0].RelatedProduct[$index].ProductImage[0].extension}}" alt="{{shop_product_details[0].RelatedProduct[$index].Product.title}}" />
							</a>
						</div>
						
						<div class="product-content">
							<h1>
								<a data-ng-href="/#/shop/product/details/{{shop_product_details[0].RelatedProduct[$index].Product.id}}">{{shop_product_details[0].RelatedProduct[$index].Product.title}}</a>
                                  
							</h1>
							
							<!-- <p data-ng-bind-html="shortDescription(product.Product.description,50)"></p>-->
							<p class="product-price">
								<a data-ng-href="/#/shop/product/details/{{shop_product_details[0].RelatedProduct[$index].Product.id}}">€ {{shop_product_details[0].RelatedProduct[$index].Product.price}}</a>
							</p>
						</div>
						
					</div>
				</div>
				
				
              
			</div>
		
		</div>
	</div>
</div>