<div class="container paddingzero blogback">
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header">Shoping History</h1>
		</div>
	</div>
			
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-tabs" >
				<li><span data-ng-click="showTab('ordered')">Ordered</span></li>
				<li><span data-ng-click="showTab('processing')" >Under Processing</span></li>
				<li><span data-ng-click="showTab('completed')" >Completed</span></li>
				<li><span data-ng-click="showTab('cancelled')">Cancelled</span></li>
			</ul>
	
			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane active " id="ordered">
					<table class="table table-default">
						<thead>
							<tr >
								<th>
									No 
								</th>
								
								<th>
									Product Details
								</th>
								
								<th>
									Status
								</th>
								
								<th>
									Order Date
								</th>
							</tr>
						</thead>
						
						<tbody>
						
							<tr data-ng-repeat="ordered_data in history_ordered_data">
								<td>
									{{$index+1}}
								</td>
								
								<td >
									{{ getProductDetais(ordered_data.ProductOrder.order_detail)}}
									
								</td>
								
								<td>
									{{ordered_data.ProductOrder.status}}
								</td>
								
								<td>
										{{ordered_data.ProductOrder.order_date}}
								</td>
							</tr>
						
						</tbody>
					
					</table>
				</div>
				
				
				<div class="tab-pane" id="processing">
					<table class="table table-default">
						<thead>
							<tr >
								<th>
									No 
								</th>
								
								<th>
									Product Details
								</th>
								
								<th>
									Status
								</th>
								
								<th>
									Order Date
								</th>
							</tr>
						</thead>
						
						<tbody>
						
							<tr data-ng-repeat="processing_data in history_processing_data">
								<td>
									{{$index+1}}
								</td>
								
								<td >
									{{ getProductDetais(processing_data.ProductOrder.order_detail)}}
									
								</td>
								
								<td>
									{{processing_data.ProductOrder.status}}
								</td>
								
								<td>
										{{processing_data.ProductOrder.order_date}}
								</td>
							</tr>
						
						</tbody>
					
					</table>
				</div>
				<div class="tab-pane" id="completed">
					<table class="table table-default">
						<thead>
							<tr >
								<th>
									No 
								</th>
								
								<th>
									Product Details
								</th>
								
								<th>
									Status
								</th>
								
								<th>
									Order Date
								</th>
							</tr>
						</thead>
						
						<tbody>
						
							<tr data-ng-repeat="completed in history_completed_data">
								<td>
									{{$index+1}}
								</td>
								
								<td >
									{{ getProductDetais(completed.ProductOrder.order_detail)}}
									
								</td>
								
								<td>
									{{completed.ProductOrder.status}}
								</td>
								
								<td>
										{{completed.ProductOrder.order_date}}
								</td>
							</tr>
						
						</tbody>
					</table>
				</div>
				<div class="tab-pane" id="cancelled">
					
					
					<table class="table table-default">
						<thead>
							<tr >
								<th>
									No 
								</th>
								
								<th>
									Product Details
								</th>
								
								<th>
									Status
								</th>
								
								<th>
									Order Date
								</th>
							</tr>
						</thead>
						
						<tbody>
						
							<tr data-ng-repeat="cancelled_data in history_cancelled_data">
								<td>
									{{$index+1}}
								</td>
								
								<td ng-bind-html-unsafe="getProductDetais(cancelled_data.ProductOrder.order_detail)" >
									
									
								</td>
								
								<td>
									{{cancelled_data.ProductOrder.status}}
								</td>
								
								<td>
										{{cancelled_data.ProductOrder.order_date}}
								</td>
							</tr>
						
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>