<div class="container paddingzero">
<div class="category-container">
	<h1 class="page-heading">Shop</h1>			
	<div class="row">
		<!-- Product category and brands -->
		<div class="col-md-3 col-sm-4">
			<div class="side-bar">
            
           <div class="side-inner-box"> <ecommercecategories></ecommercecategories></div>
			
			
			<div class="clearfix"></div>
            
            <div class="" data-ng-if="enableAttributeSection == 'yes'">
			<div data-ng-repeat="(attrId,attrVal) in attrList">
				<div>
					{{attrVal.Attribute.title}}
					<div data-ng-repeat="(attrValId,attrValVal) in attrVal.AttributeValue">
						<input type="checkbox" class="attrCheckBox" data-attrId = "{{attrVal.Attribute.id}}" data-attrValue = "{{attrValVal.value}}" data-ng-click="filterByAttr()">{{attrValVal.value}}
					</div>
				</div>
				
			</div>
		</div>
			<div class="side-inner-box"> <ecommercebrands></ecommercebrands></div>
            
			
			</div>
		</div>
		
		<!-- Random Products -->
		
		
		
		<div class="col-md-9 col-sm-8" >
		
			<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
            <div class="product-box">
             <div class="product-img">
                         <a href="#">
                        <img src="images/timthumb.jpg" alt="#" />
                        </a>
                      </div>
                        <div class="product-content">
                        <h1><a data-ng-href="/#/shop/product/details/{{product.Product.id}}">PME Legend</a></h1>
                        <p data-ng-bind-html = "shortDescription(product.Product.description,50)">PME Jeans Bare metal grey PTR970-FGW</p>
                         <p class="product-price"> <a data-ng-href="/#/shop/product/details/{{product.Product.id}}">€109.95</a></p>
                        </div> 
                        <div class="action">
                        	<ul class="list-inline text-center">
                        	<li><a class="prdct-details" href="#">DETAILS</a></li>
                            <li><a class="prdct-wishlist" href="#">WISHLIST</a></li>
                            <li><a class="prdct-share" href="#">SHARE</a></li>
                        </ul>
                        </div> 
            </div>
            </div>
			
			</div>
			
		</div>
		
		</div>
	</div>
</div>
