<div class="container positionrelative">
	<div class="row">
		<div class="col-md-12 logobody paddingzero">
			<div class="col-xs-12 paddingzero">
				<!--start register-->
				<div class="registertxt">
					<div class="floatright cartposition">
					 <!-- Place cart Directive -->
					 <ecommercecart></ecommercecart>
					</div>
					
					<authview></authview>
					
					
					<div class="clearboth"></div>
				</div>
			</div>
			<div class="clearfix"></div>
			<!--end register-->

			
			<div class="col-md-3 col-sm-3 col-md-offset-4 col-sm-offset-4 col-xs-12 col-xs-offset-0">
				<img class="img-responsive logo" src="images/logo.png">
			</div>
			<div class="col-md-3 col-sm-3 logomen col-xs-7">MEN / WOMEN</div>
			<div class="col-md-2 col-sm-2 paddingzero col-xs-5" id="headsearch">
				<div class="input-group search">
					<input type="text" class="form-control"
						placeholder="search product"> <span
						class="input-group-btn">
						<button class="btn " type="button">&#8981;</button>
					</span>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="headleft">&nbsp;</div>
		<div class="headright">&nbsp;</div>
	</div>
</div>