
<div class="container">
	<div class="row">
		<div class="navbarback">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#main-menu">
							<span class="sr-only">Menu</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
						</button>
					</div>
					<!--<div class="collapse navbar-collapse" id="main-menu">
						<ul class="nav navbar-nav" >
							
                            <li data-ng-repeat="menus in menu.header">
								<a data-ng-if="menus.Menu.type == 'content'" ng-href="/#/page/{{menus.Menu.link_data}}">{{menus.Menu.title}}</a>
								<a data-ng-if="menus.Menu.type != 'content'" ng-href="/#/{{menus.Menu.link_data}}">{{menus.Menu.title}}</a>
							</li>
						</ul>
					</div>-->
                   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">
                        <li class="positionrelative timeoutactive">
                        <img class="navimghome" src="images/nav-hover.png" />
                        	<a href="#">HOME</a>
                        </li>
                        <li class="positionrelative">
                        <img class="navimgblog" src="images/nav-hover.png"  />
                       	 	<a href="#">BLOG</a>
                        </li>
                        <li class="positionrelative">
                        <img class="navimgbrands" src="images/nav-hover.png"  />
                        	<a href="#">BRANDS</a>
                        </li>
                        <li class="positionrelative">
                        <img class="navimgdeals" src="images/nav-hover.png"  />
                        	<a href="#">DEALS</a>
                        </li>
                        <li class="positionrelative">
                        <img class="navimgwebshop" src="images/nav-hover.png"  />
                        	<a href="#">LOOKBOOK</a>
                        </li>
                        <li class="positionrelative">
                        <img class="navimgwebshop" src="images/nav-hover.png"  />
                        	<a href="#">WEBSHOP</a>
                        </li>
                        <li class="positionrelative">
                        <img class="navimgcontact" src="images/nav-hover.png"  />
                        	<a href="#">CONTACT</a>
                        </li>
                        <li class="positionrelative">
                        <img class="navimgstores" src="images/nav-hover.png"  />
                        	<a href="#">STORES</a>
                        </li>
                      </ul>
                    </div>
				</div>
			</nav>
		</div>
	</div>
</div>