
<div class="container">
	<div class="row">
		<div class="navbarback">
			<!--<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#main-menu">
							<span class="sr-only">Menu</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="main-menu">
						<ul class="nav navbar-nav" >
							
                            <li data-ng-repeat="menus in menu.header">
								<a data-ng-if="menus.Menu.type == 'content'" ng-href="/#/page/{{menus.Menu.link_data}}">{{menus.Menu.title}}</a>
								<a data-ng-if="menus.Menu.type != 'content'" ng-href="/#/{{menus.Menu.link_data}}">{{menus.Menu.title}}</a>
							</li>
						</ul>
					</div>
                   
				</div>
			</nav>-->
            
   <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand visible-xs" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-site" id="bs-example-navbar-collapse-1" id="main-menu">
      <ul class="nav nav-justified">
       <li data-ng-repeat="menus in menu.header">
            <a data-ng-if="menus.Menu.type == 'content'" ng-href="/#/page/{{menus.Menu.link_data}}">{{menus.Menu.title}}</a>
            <a data-ng-if="menus.Menu.type != 'content'" ng-href="/#/{{menus.Menu.link_data}}">{{menus.Menu.title}}</a>
        </li>
      </ul>
      
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
		</div>
        
        


	</div>
</div>