<div class="container paddingzero">
	<div class="container paddingzero cartback">
		<div class="row">
			<div class='col-md-12'>
				<h3 class="page-header">Contact Us</h3>
				<div id="google-map"></div>
			</div>
		</div>
		
		<div class="row">
			<div class='col-md-12'>
				<h3 class="page-header">Available Branches</h3>
				<div class="row">
					<div class="col-md-4" data-ng-repeat="store in storeList">
						<h3>{{store.Store.title}}</h3>
	
						<div>{{store.Store.details}}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-content">
		<div class="row">
			<div class="col-md-12">
					<h3 class="page-header">Send Us Email</h3>
					<div class="alert {{serviceClass}}" data-ng-if="message != ''">{{message}}</div>
					<form id="contactEmailForm" data-ng-submit="sendEmail($event)">
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="form-group">
								<label >Email <span class="star">*</span>
								</label>
								<input type="text" data-validate = '[{"not_empty":[{"message":"Please input your email"}]},{"email":[{"message":"Please input a valid email"}]}]' class="form-control" name="email"> 
							</div>
						</div>
					
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="form-group">
								<label >Name <span class="star">*</span>
								</label> 
								<input type="text" data-validate='[{"not_empty":[{"message":"Please input your full name"}]}]' class="form-control" name="name"> 
							</div>
						</div>
					
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="form-group">
								<label >Phone <span class="star">*</span>
								</label>
								<input type="text" data-validate='[{"not_empty":[{"message":"Please input your phone number"}]}]' class="form-control" name="phone"> 
							</div>
						</div>
					
						<div class="clearfix"></div>
						
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="form-group">
								<label >Subject <span class="star">*</span>
								</label>
								<input type="text" data-validate='[{"not_empty":[{"message":"Please input a subject"}]}]' class="form-control" name="subject">					
							</div>
						</div>
					
						<div class="clearfix"></div>
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="form-group">
								<label for="phone">Message <span class="star">*</span>
								</label>
								<textarea data-validate='[{"not_empty":[{"message":"Please input your message"}]}]' rows="6" cols="30" class="form-control" name="message"></textarea>					
							</div>
						</div>
					
						<div class="col-xs-12 col-sm-12 col-md-12">
							
							<button class="btn btn-primary" type="submit">Submit</button> 
						</div>
					
					</form>
								
			</div>
		
		</div>
        </div>
	
	</div>
</div>

<style>
	#google-map{
		min-height: 400px;
	}
</style>
