<div class="container paddingzero"> 
	<div class="homeSlider">
    	<div id="home-slider" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#home-slider" data-slide-to="{{$index}}" class="active" data-ng-repeat="(imgId,imgTitle) in shop_categories" data-ng-if="$index == 0 "></li>
				<li data-target="#home-slider" data-slide-to="{{$index}}" class="" data-ng-repeat="(imgId,imgTitle) in shop_categories" data-ng-if="$index !=0 "></li>
			</ol>
	
			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active"  data-ng-repeat="(imgId,imgTitle) in shop_categories" data-ng-if="$index == 0 ">
					<img data-ng-src="{{cat_images}}{{imgId}}.png" alt=" {{imgTitle}}">
	 				<div class="carousel-caption">
					      {{imgTitle}}
					</div>
				</div>
				
				<div class="item"  data-ng-repeat="(imgId,imgTitle) in shop_categories" data-ng-if="$index != 0 ">
					<img data-ng-src="{{cat_images}}{{imgId}}.png" alt=" {{imgTitle}}">
	 				<div class="carousel-caption">
					      {{imgTitle}}
					</div>
				</div>
			</div>
		</div>
    </div>
</div>

<div class="container bodyback2 paddingzero">
     <div class="col-md-4 col-sm-4 col-xs-12" data-ng-repeat ="(ind,val) in homeblock">
         <div class="homeproductholder">
         	<a data-ng-href ="{{val.HomeBlock.url}}"><img src="{{block_images}}{{val.HomeBlock.id}}.{{val.HomeBlock.image_extension}}" /></a>
         	<a data-ng-href ="{{val.HomeBlock.url}}"><p class="producttxt">{{val.HomeBlock.title}}</p></a>
         </div>
     </div>
     <div class="clearfix"></div>
     <div class="sliderholder">
	     <div class="slider-control">
			<a class="left-arrow" href="#"></a>
	        <a class="right-arrow" href="#"></a>
	     </div>
		<ul id="flexiselDemo3">
		 	<li data-ng-repeat="(ind,val) in brandList">
		 		<a data-ng-href="/#/shop/brand_view/{{ind}}">
		 			<img data-ng-src="{{shop_brand_image_location}}{{ind}}.png" class="img-responsive center-block"/>
	 			</a>
	 		</li>
		    
		</ul>
     </div>
</div>

