<style>
	.error_message{
	color: red;
	}
</style>

<div class="container paddingzero">
	<div class="container paddingzero cartback">
	
		<div class="row" data-ng-if="register_loading == true">
			<div class="col-md-12 text-center">
				<img data-ng-src="images/ajax-loader.gif">
			</div>
		</div>
	  <!--  -->
		<div class="row">
			<div class="col-lg-12">
				
				<div class="clearfix" >
					
					<div class="col-md-6">
						<h1 class="page-header">Update Profile</h1>
						<div id="profile_update_message"></div>
						<form data-ng-submit="updateProfile()" id="update_profile_form" >
							<div class="form-group">
								<label>First Name</label>
								<input type="text" name="first_name" value="{{profile_details.first_name}}" class="form-control" data-validate='[{"not_empty":[{"message":"Please input your first name"}]}]' >
							</div>
							
							<div class="form-group">
								<label>Last Name</label>
								<input type="text" name="last_name" value="{{profile_details.last_name}}" class="form-control" data-validate='[{"not_empty":[{"message":"Please input your last name"}]}]'>
							</div>
							
							<div class="form-group">
								<label>Address Line 1</label>
								<input type="text" name="address_line_1" value="{{profile_details.address_line_1}}" class="form-control" data-validate='[{"not_empty":[{"message":"Please input your address."}]}]'>
							</div>
							
							<div class="form-group">
								<label>Address Line 2</label>
								<input type="text" name="address_line_2" value="{{profile_details.address_line_2}}" class="form-control">
							</div>
							
							<div class="form-group">
								<label>Zip Code</label>
								<input type="text" name="zip" class="form-control"value="{{profile_details.zip}}" data-validate='[{"not_empty":[{"message":"Please input your zip code"}]}]' >
							</div>
							
							<div class="form-group">
								<label>Cell</label>
								<input type="text" name="cell" class="form-control" value="{{profile_details.cell}}">
							</div>
							
							<div class="form-group">
								<input type="submit" class="btn btn-success" value="Update Profile">
								<input type="reset" class="btn btn-warning" value ="Reset">
							</div>
						</form>
					</div>
						
						<div class="col-md-6">
							<h1 class="page-header">Change Password</h1>
							<div id="password_update_message"></div>
							<form data-ng-submit="updatePassword()" id="update_password_form">
								<div class="form-group">
									<label>User name /Email</label>
									<input type="text" name="username" value="{{profile_data.username}}" class="form-control" readonly data-validate='[{"not_empty":[{"message":"Please input your email"}]},{"email":[{"message":"Please input a valid email"}]}]'>
								</div>
								
								<div class="form-group">
									<label>Current Password</label>
									<input type="password" name="current_password" data-ng-model="current_password" data-ng-change="checkCurrentPassword()" class="form-control" data-validate='[{"not_empty":[{"message":"Please input your password"}]}]'>
									<div  class="error_message">{{current_password_message}}</div>
								</div>
								<div class="form-group">
									<label>Password</label>
									<input type="password" name="new_password" data-ng-model="new_password" class="form-control" data-validate='[{"not_empty":[{"message":"Please input your password"}]}]'>
								</div>
								
								<div class="form-group">
									<label>Retype Password</label>
									<input type="password" name="repassword" class="form-control" data-validate='[{"not_empty":[{"message":"This field is required."}]},{"compair_with":[{"options":[{"compair_field":"new_password"}]}, {"message":"Password does not match"}]}]' >
								</div>
							
								<div class="form-group">
									<input type="submit" class="btn btn-success" value="Update Password">
									<input type="reset" class="btn btn-warning" value ="Reset">
								</div>
							</form>
							
						</div>
					
				</div>
			</div>
		</div>
	</div>
</div>